<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <package android:name="com.android.systemui" />
        <package android:name="com.miui.home" />
        <package android:name="org.lsposed.manager" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.AppPickerActivity"
            android:exported="false" />

        <activity
            android:name=".ui.TargetManagerActivity"
            android:exported="false" />

        <activity
            android:name=".ui.GestureSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.GestureDetailSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.AnimationSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.FanLayoutSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.HoneycombSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.HoneycombLayoutEditorActivity"
            android:exported="false" />

        <activity
            android:name=".ui.HoneycombAnimationSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.PressureGestureSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.TaskCenterSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.TaskCenterAnimationSettingsActivity"
            android:exported="false" />

        <activity android:name=".ui.GeneralSettingsActivity" android:exported="false" />
        <activity android:name=".ui.WindowSettingsActivity" android:exported="false" />
        <activity android:name=".ui.OutsideSettingsActivity" android:exported="false" />
        <activity android:name=".ui.MiscSettingsActivity" android:exported="false" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="hypergesture" android:host="settings" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".LauncherAlias"
            android:enabled="true"
            android:exported="true"
            android:targetActivity=".ui.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name=".config.ConfigProvider"
            android:authorities="com.oxohang.fanfreeform.config"
            android:exported="true"
            android:grantUriPermissions="false"
            tools:ignore="ExportedContentProvider" />

        <provider
            android:name=".diagnostics.CompatibilityReportProvider"
            android:authorities="com.oxohang.fanfreeform.reports"
            android:exported="false"
            android:grantUriPermissions="true" />

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="HyperOS 3 底角扇形快捷小窗" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
    </application>
</manifest>
